name: Vercel Deploy

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: number
      pnpm-version:
        required: true
        type: string
      artifact-name:
        required: false
        type: string
        default: dist
        description: "Name of the build artifact to download"
    secrets:
      VERCEL_TOKEN:
        required: true
      VERCEL_ORG_ID:
        required: true
      VERCEL_PROJECT_ID:
        required: true

jobs:
  deploy:
    name: Deploy to Vercel
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ inputs.pnpm-version }}

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: pnpm

      - name: Install Vercel CLI
        run: pnpm install -g vercel@latest

      - name: Download Build Artifact
        uses: actions/download-artifact@v7
        with:
          name: ${{ inputs.artifact-name }}
          path: .vercel/output

      - name: Pull & Deploy
        env:
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
        run: |
          vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}
          vercel deploy --prebuilt --prod --archive=tgz --token=${{ secrets.VERCEL_TOKEN }}
