name: Quality Gate

on:
  workflow_call:
    inputs:
      node-version:
        required: true
        type: number
      pnpm-version:
        required: true
        type: number
      lint-command:
        required: false
        type: string
        default: pnpm lint
      typecheck-command:
        required: false
        type: string
        default: pnpm check-types

jobs:
  code-quality:
    name: Lint & Typecheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: ${{ inputs.pnpm-version }}
          run_install: false

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: ${{ inputs.node-version }}
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Lint
        run: ${{ inputs.lint-command }}

      - name: Run Typecheck
        if: always()
        run: ${{ inputs.typecheck-command }}
